!!!
html(ng-app="dashApp")
  head
    meta(charset='utf8')
    base(href='/')
    title RPP Dash
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/cs-style.css')
    link(rel='stylesheet', href='/css/ng-table.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body