/* app css stylesheet */
 #content {
    margin: 0 auto;
    width: 1700px;
    /*border :1px solid #E7E7E7;*/
    border-radius: 4px 4px 4px 4px;
    overflow: auto;
    min-height: 1600px;
}
#pie {
    min-height: 300px;
    min-width: 300px;
    float: left;
    border:1px solid #E7E7E7;
    border-radius: 4px 4px 4px 4px;
}
#pie #chart {
    width: 250px;
    height: 300px;
}
#pie h4, #bar h4 {
    text-align: center;
}
#bar {
    min-height: 300px;
    min-width: 400px;
    float: left;
    border:1px solid #E7E7E7;
    border-radius: 4px 4px 4px 4px;
}
#bar #chart {
    width: 620px;
    height: 300px;
}
