<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">production <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/us/production/dash">us</a>
                </li>
                <li><a href="#/uk/production/dash">uk</a>
                </li>
                <li><a href="#/de/production/dash">de</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">preproduction <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/us/preproduction/dash">us</a>
                </li>
                <li><a href="#/uk/preproduction/dash">uk</a>
                </li>
                <li><a href="#/de/preproduction/dash">de</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">staging <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/us/staging/dash">us</a>
                </li>
                <li><a href="#/uk/staging/dash">uk</a>
                </li>
                <li><a href="#/de/staging/dash">de</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>